.card_phase_h2{
    text-transform: uppercase;
    margin-top:75px;
    font-family: 'Times New Roman', Times, serif;
}
.paragrafo-style{
    margin-top:15px;
    font-family: 'Times New Roman', Times, serif;
}
